//<Миксины>
@import "mixins";
//</Миксины>
//<Шрифты>
//$display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900$display=swap&subset=cyrillic-ext");
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
@import "fonts";
//@import "icons";
//<Искомые шрифты>
//</Искомые шрифты>
//<Шрифты по умолчанию>
$font-family: "Roboto",
san-serif;
//</Шрифты по умолчанию>
//</Шрифты>
//<Переменные>
$minWidth: 328px;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</Переменные>
//<Обнуление>
@import "null";

body {
    color: #000;
    font-size: 14px;
    font-family: $font-family;

    &._lock {
        overflow: hidden;
    }
}

//</Обнуление>
//<Оболочка>
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &._loaded {}
}

//<Готовые классы>
.rub:after {
    content: "₽";
}

.bag {
    width: 43px;
    display: inline-block;
    background: #1ab9ce url('../img/basket.svg') no-repeat center;
    border-radius: 50%;
    position: relative;
    height: 43px;
}

.btn {
    display: inline-flex;
    padding: 0 25px;
    justify-content: center;
    align-items: center;
    transition: all .3s ease 0s;
    height: 39px;
    background-color: #f68038;
    color: #fff;
    font-size: 12px;
    font-weight: 900;
    line-height: 18px;
    text-transform: uppercase;
    border: none;

    @media (min-width: 992px) {
        &:hover {
            background-color: #b86829;
        }
    }
}

.input {
    border-radius: 0 !important;
    width: 100%;
    display: block;
    padding: 0 20px;
    border: none;
}

.checkbox {
    position: relative;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;

        &:checked+.checkbox__text:before {
            background: url('../img/icons/check.svg') center no-repeat;
        }
    }

    &__text {
        display: inline-flex;
        align-items: center;
        position: relative;
        font-size: 16px;
        color: #666;
        letter-spacing: -0.3px;
        line-height: calc(20/16);
        cursor: pointer;

        &:before {
            align-self: flex-start;
            margin: 0px 14px 0px 0px;
            flex: 0 0 20px;
            left: 0;
            top: 0;
            width: 20px;
            height: 18px;
            background: #fff;
            border: 1px solid #a7a9ac;
        }
    }
}

._ibg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

//</Готовые классы>
//</Оболочка>
//<Основная сетка>
._container {
    max-width: $maxWidthContainer+px;
    margin: 0 auto;
    padding: 0 20px;
    //<не используемые брекпоинты в этом макете>
    // @media (max-width: $md1 + px) {
    //     max-width: 970px;
    // }
    // @media (max-width: $md2+px) {
    //     max-width: 750px;
    // }
    // @media (max-width: $md3+px) {
    //     max-width: none;я
    //     padding: 0 10px;
    // } 
    //</не используемые брекпоинты в этом макете>
}

//</Основная сетка>
//<Подключение файлов UI стилей, форм и готовых классов>
@import "form";
@import "ui";
//</Подключение файлов UI стилей, форм и готовых классов>
//<Подключение файлов стилей, страниц и элементов>
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";

//</Подключение файлов стилей, страниц и элементов>
//<Основной блок>
.page {
    padding: 160px 0 0 0;
    flex: 1 1 auto;

    // .page__container
    &__container {
        display: flex;
        //min-height: 360px;
    }

    // .page__side
    &__side {
        position: relative;
        z-index: 3;
        flex: 0 0 260px;
    }

    // .page__menu
    &__menu {}

    // .page__contant
    &__contant {
        flex: 1 1 100%;
        min-width: 0;
        margin: 0px 0px 0px 30px;
        overflow: hidden;
    }

    // .page__search
    &__search {
        position: relative;
        z-index: 2;
        margin: 0 0 22px 0;
    }

    // .page__slider
    &__slider {
        margin: 0 0 65px 0;
        overflow: hidden;
    }
}

.menu-page {
    background: url('../img/bg-menu.png') top no-repeat;
    position: relative;

    // .menu-page__header
    &__header {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    // .menu-page__title
    &__title {
        flex: 1 1 auto;
        color: #fff;
        font-family: "uniSans";
        line-height: 35 / 30 * 100%;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: .75px;
    }

    // .menu-page__burger
    &__burger {
        flex: 0 0 36px;
        width: 36px;
        //height: 36px;
        background-color: #068292;
        position: relative;
        padding: 10px 6px;
        cursor: pointer;
        z-index: 5;

        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            position: absolute;
            background-color: #fff;

            &:first-child {
                top: 0;
            }

            &:last-child {
                top: auto;
                bottom: 0;
            }
        }

        &.active {
            span {
                transform: scale(0);

                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }

                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }

    // .menu-page__lines
    &__lines {
        height: 16px;
        position: relative;
    }

    // .menu-page__body
    &__body {
        display: none;

        &.active {
            display: block;
        }
    }

    // .menu-page__list
    &__list {
        >li {
            border-bottom: 1px solid #1aa7b9;
        }
    }

    // .menu-page__parent
    &__parent {
        .menu-page__link {
            &:after {
                content: "";
                position: absolute;
                right: 20px;
                top: 50%;
                width: 14px;
                height: 14px;
                transform: translate(0px, -50%);
                background: url("../img/menu_arrow.png") right no-repeat;
            }
        }

        &._active {
            .menu-page__submenu {
                pointer-events: all;
            }

            .submenu-page__item {
                z-index: 2;
                transform: translate(-2%, 0px);
            }

            .menu-page__link {
                background-color: #098494;
            }
        }
    }

    // .menu-page__link
    &__link {
        letter-spacing: 0.3px;
        font-weight: 300;
        font-size: 12px;
        color: #ffffff;
        display: block;
        padding: 12px 20px;
        position: relative;

        // .menu-page__link_parent
        @media (max-width: $md2+px) {
            &:hover {
                background-color: #098494;
            }
        }
    }

    // .menu-page__submenu
    &__submenu {
        width: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
    }
}

.submenu-page {

    // .submenu-page__item
    &__item {
        width: 280px;
        border: solid 2px #098494;
        background-color: #fff;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0%;
        transition: all .3s ease 0s;
        transform: translate(-100%, 0px);
    }

    // .submenu-page__menu
    &__menu {
        padding: 20px 0;
        border-bottom: 1px solid #dedede;

        li {}
    }

    // .submenu-page__link
    &__link {
        color: #1ab9ce;
        font-size: 12px;
        font-weight: 300;
        display: block;
        padding: 10px 40px;
        letter-spacing: 0.3px;

        @media (max-width: $md2+px) {
            &:hover {
                background-color: #71c7d3;
                color: #fff;
            }
        }
    }

    // .submenu-page__product
    &__product {
        padding: 0 15px;
    }
}

.item-product {
    padding: 15px;
    position: relative;

    // .item-product__labels
    &__labels {
        position: absolute;
        left: 15px;
        top: 15px;
    }

    // .item-product__label
    &__label {
        margin: 0 0 10px 0;
        font-weight: 900;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        padding: 0 15px;
        text-transform: uppercase;
        height: 21px;
        background-color: #fd8424;
    }

    // .item-product__image
    &__image {
        height: 195px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;

        img {
            max-width: 100%;
            max-height: 175px;
        }
    }

    // .item-product__body
    &__body {
        padding: 0 5px;
    }

    // .item-product__title
    &__title {
        color: #36949f;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        display: inline-block;
        margin: 0 0 5px 0;

        @media (max-width: $md2+px) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // .item-product__footer
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .bag {
            background: url('../img/basket-1.svg') no-repeat bottom;
        }
    }

    // .item-product__old-price
    &__old-price {
        text-align: right;
        color: #999;
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        text-decoration: line-through;

        &:after {
            font-size: 14px;
        }
    }

    // .item-product__bottom
    &__bottom {}

    // .item-product__add
    &__add {}

    // .item-product__price
    &__price {
        color: #000;
        font-size: 24px;
        font-weight: 900;

        &:after {
            font-size: 18px;
        }

        //margin-bottom: 10px;
    }
}

.search-page {
    display: flex;
    position: relative;

    // .search-page__select
    &__select {
        cursor: pointer;
        display: flex;
        padding: 0 14px;
        align-items: center;
        background-color: #f3f3f3;
    }

    // .search-page__title
    &__title {
        align-items: center;
        color: #666;
        display: flex;
        font-weight: 300;

        span {
            margin: 0 13px;
            border-bottom: 1px dashed;

            &:last-child {
                display: none;
            }
        }

        &:before {
            content: '';
            width: 17px;
            height: 17px;
            background: url('../img/search-icon.svg') left no-repeat;
        }

        &:after {
            content: '';
            transition: all .3s ease 0s;
            width: 10px;
            height: 10px;
            background: url('../img/search-arrow.svg') right no-repeat;
        }

        &._categories {
            span {
                display: none;

                &:last-child {
                    display: block;
                }
            }
        }
    }

    // .search-page__categorys
    &__categorys {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }

    // .search-page__input
    &__input {
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
        flex: 1 1 auto;

        .input {
            height: 100%;
        }
    }

    // .search-page__btn
    &__btn {}
}

.categorys-search {
    background-color: #fff;
    border: 1px solid #fefefe;
    display: none;

    &.active-search {
        display: block;
    }

    &:after {
        content: "";
        background-color: #f68038;
        height: 4px;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
    }

    // .categorys-search__row
    &__row {
        display: flex;
    }

    // .categorys-search__column
    &__column {
        flex: 0 1 33.333%;
        padding: 27px 40px;
        border-right: 1px solid #f3f3f3;

        &:last-child {
            border: 0;
        }
    }

    // .categorys-search__list
    &__list {
        li {
            margin: 0px 0px 20px 0px;

            &:last-child {
                margin: 0;
            }
        }
    }

    // .categorys-search__checkbox
    &__checkbox {
        .checkbox__input {
            &:checked+.checkbox__text {
                color: #f68038;
            }
        }

        .checkbox__text {
            color: #999;

            &::before {
                display: none;
            }
        }
    }

    // .categorys-search__link
    &__link {
        color: #999;
    }
}

//</Основной блок>