//<Миксины>
@import "mixins";
//</Миксины>
//<Шрифты>
//$display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900$display=swap&subset=cyrillic-ext");
@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
@import "fonts";
//@import "icons";
//<Искомые шрифты>
//</Искомые шрифты>
//<Шрифты по умолчанию>
$font-family: "Roboto", san-serif;
//</Шрифты по умолчанию>
//</Шрифты>
//<Переменные>
$minWidth: 328px;
$maxWidth: 1400;
$maxWidthContainer: 1180;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</Переменные>
//<Обнуление>
@import "null";
body {
    color: #000;
    font-size: 14px;
    font-family: $font-family;
    &._lock {
        overflow: hidden;
    }
}

//</Обнуление>
//<Оболочка>
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    &._loaded {}
}

//</Оболочка>
//<Основная сетка>
._container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 20px;
    //<не используемые брекпоинты в этом макете>
    // @media (max-width: $md1 + px) {
    //     max-width: 970px;
    // }
    // @media (max-width: $md2+px) {
    //     max-width: 750px;
    // }
    // @media (max-width: $md3+px) {
    //     max-width: none;я
    //     padding: 0 10px;
    // } 
    //</не используемые брекпоинты в этом макете>
}

//</Основная сетка>

//<Подключение файлов UI стилей, форм и готовых классов>
@import "form";
@import "ui";

//</Подключение файлов UI стилей, форм и готовых классов>

//<Подключение файлов стилей, страниц и элементов>
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";






//</Подключение файлов стилей, страниц и элементов>

//<Основной блок>
.page{
    flex: 1 1 auto;
}
//</Основной блок>