@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700,900$display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");

@font-face {
  font-family: "uniSans";
  font-display: swap;
  src: url("../fonts/uniSans.woff") format("woff"), url("../fonts/uniSans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #000;
  font-size: 14px;
  font-family: "Roboto", san-serif;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rub:after {
  content: "₽";
}

.bag {
  width: 43px;
  display: inline-block;
  background: #1ab9ce url("../img/basket.svg") no-repeat center;
  border-radius: 50%;
  position: relative;
  height: 43px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  height: 39px;
  background-color: #f68038;
  color: #fff;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0 20px;
  border: none;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #666;
  letter-spacing: -0.3px;
  line-height: calc(20/16);
  cursor: pointer;
}

.checkbox__text:before {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

._ibg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: #fff url("./../img/header/bg-header.png") top no-repeat;
}

.top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.top-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.top-header__column_logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
  text-align: center;
}

.top-header__logo {
  position: relative;
  z-index: 5;
  display: inline-block;
}

.top-header__contacts {
  position: relative;
  z-index: 5;
}

.menu__list {
  display: grid;
  grid-template-columns: 110px 130px 180px;
}

.menu__list li {
  margin: 1px 0;
}

.menu__link {
  min-height: 27px;
  font-family: "Play";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 22px;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 14px;
  color: #fff;
}

.icon-menu {
  display: none;
}

body.lock {
  overflow: hidden;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-header__column {
  padding: 0 30px;
  border-right: 1px solid #fff;
}

.contacts-header__column:last-child {
  border: none;
}

.contacts-header__item_icon {
  padding-left: 37px;
  background: url("../img/header/phone.svg") left no-repeat;
}

.contacts-header__label {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #fff;
}

.contacts-header__phone {
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  white-space: nowrap;
}

.bottom-header__container {
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 95px);
          flex: 0 1 calc(50% - 95px);
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header li {
  margin: 0px 54px 0px 0px;
}

.actions-header__login,
.actions-header__reg,
.actions-header__email {
  padding: 0 0 0 36px;
  display: inline-block;
  line-height: 24px;
  color: #999;
}

.actions-header__login span,
.actions-header__reg span,
.actions-header__email span {
  border-bottom: 1px dotted;
}

.actions-header__login:hover,
.actions-header__reg:hover,
.actions-header__email:hover {
  color: #1ab9ce;
}

.actions-header__login {
  background: url("../img/header/in.svg") left no-repeat;
}

.actions-header__reg {
  background: url("../img/header/registration.svg") left no-repeat;
}

.actions-header__email {
  background: url("../img/header/email.svg") left no-repeat;
  line-height: 13px;
}

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-header__column {
  padding: 0 34px 0 0;
}

.info-header__column:last-child {
  padding: 30px;
}

.info-header__callback {
  background: url("../img/header/callbacke.svg") left no-repeat;
  display: inline-block;
  color: #1ab9ce;
  line-height: 20px;
  padding: 0 0 0 32px;
  white-space: nowrap;
}

.info-header__callback span {
  border-bottom: 1px dashed;
}

.info-header__schedule {
  background: url("../img/header/calendar.svg") left no-repeat;
  padding-left: 37px;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #999;
}

.info-header__schedule span {
  font-weight: 900;
}

.info-header.bag span {
  padding: 0 11px;
  border-radius: 20px;
  line-height: 18px;
  background-color: #f57f38;
  position: absolute;
  right: -25px;
  top: -3px;
  color: #fff;
  font-weight: 700;
}

.mainslider__body .swiper-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.mainslider__slide {
  position: relative;
}

.mainslider__content {
  position: relative;
  z-index: 2;
}

.mainslider__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
}

.mainslider__image img {
  width: 100%;
}

.mainslider__dotts {
  position: relative;
  z-index: 2;
  margin: -27.5px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  counter-reset: item;
}

.mainslider__dotts .swiper-pagination-bullet {
  margin: 0 23px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mainslider__dotts .swiper-pagination-bullet:after {
  opacity: 0;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  position: absolute;
  color: #fffefe;
  font-size: 16px;
  font-weight: 900;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f68038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  counter-increment: item;
  content: counter(item);
}

.mainslider__dotts .swiper-pagination-bullet-active:after {
  opacity: 1;
}

.content-mainslide {
  padding: 20px 35px 60px 35px;
}

.content-mainslide__title {
  color: #333;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 43px;
  margin: 0 0 50px 0;
}

.content-mainslide__title span {
  display: block;
  color: #f68038;
}

.content-mainslide__footer {
  padding: 15px 0px 0px 0px;
  text-align: center;
}

.content-mainslide__price {
  margin: 0 0 24px 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 900;
  line-height: 24px;
}

.content-mainslide__price:after {
  font-size: 30px;
  margin: 0 0 0 10px;
}

.content-mainslide__price:last-child {
  margin: 0;
}

.content-mainslide__button {
  height: 33px;
  border: 3px solid #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  padding: 0 20px;
}

.content-mainslide__button span {
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0 30px 0 0;
  background: url("../img/icins/slider-arrow.svg") right no-repeat;
}

.text-mainslide {
  color: #333;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 24px;
}

.text-mainslide__text-1 {
  color: #f68038;
  font-size: 18px;
}

.text-mainslide__text-2 {
  color: #fff;
  line-height: 1;
  padding: 5px 10px;
  display: inline-block;
  background-color: #92918e;
}

.text-mainslide__text-3 {
  color: #979797;
}

.page {
  padding: 160px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__side {
  position: relative;
  z-index: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
}

.page__contant {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  min-width: 0;
  margin: 0px 0px 0px 30px;
  overflow: hidden;
}

.page__search {
  position: relative;
  z-index: 2;
  margin: 0 0 22px 0;
}

.page__slider {
  margin: 0 0 65px 0;
  overflow: hidden;
}

.menu-page {
  background: url("../img/bg-menu.png") top no-repeat;
  position: relative;
}

.menu-page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.menu-page__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #fff;
  font-family: "uniSans";
  line-height: 116.66667%;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: .75px;
}

.menu-page__burger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  width: 36px;
  background-color: #068292;
  position: relative;
  padding: 10px 6px;
  cursor: pointer;
  z-index: 5;
}

.menu-page__burger span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: #fff;
}

.menu-page__burger span:first-child {
  top: 0;
}

.menu-page__burger span:last-child {
  top: auto;
  bottom: 0;
}

.menu-page__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu-page__burger.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.menu-page__burger.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.menu-page__lines {
  height: 16px;
  position: relative;
}

.menu-page__body {
  display: none;
}

.menu-page__body.active {
  display: block;
}

.menu-page__list > li {
  border-bottom: 1px solid #1aa7b9;
}

.menu-page__parent .menu-page__link:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  width: 14px;
  height: 14px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  background: url("../img/menu_arrow.png") right no-repeat;
}

.menu-page__parent._active .menu-page__submenu {
  pointer-events: all;
}

.menu-page__parent._active .submenu-page__item {
  z-index: 2;
  -webkit-transform: translate(-2%, 0px);
      -ms-transform: translate(-2%, 0px);
          transform: translate(-2%, 0px);
}

.menu-page__parent._active .menu-page__link {
  background-color: #098494;
}

.menu-page__link {
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 12px;
  color: #ffffff;
  display: block;
  padding: 12px 20px;
  position: relative;
}

.menu-page__submenu {
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.submenu-page__item {
  width: 280px;
  border: solid 2px #098494;
  background-color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0%;
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
}

.submenu-page__menu {
  padding: 20px 0;
  border-bottom: 1px solid #dedede;
}

.submenu-page__link {
  color: #1ab9ce;
  font-size: 12px;
  font-weight: 300;
  display: block;
  padding: 10px 40px;
  letter-spacing: 0.3px;
}

.submenu-page__product {
  padding: 0 15px;
}

.item-product {
  padding: 15px;
  position: relative;
}

.item-product__labels {
  position: absolute;
  left: 15px;
  top: 15px;
}

.item-product__label {
  margin: 0 0 10px 0;
  font-weight: 900;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  padding: 0 15px;
  text-transform: uppercase;
  height: 21px;
  background-color: #fd8424;
}

.item-product__image {
  height: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.item-product__image img {
  max-width: 100%;
  max-height: 175px;
}

.item-product__body {
  padding: 0 5px;
}

.item-product__title {
  color: #36949f;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  display: inline-block;
  margin: 0 0 5px 0;
}

.item-product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-product__footer .bag {
  background: url("../img/basket-1.svg") no-repeat bottom;
}

.item-product__old-price {
  text-align: right;
  color: #999;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  text-decoration: line-through;
}

.item-product__old-price:after {
  font-size: 14px;
}

.item-product__price {
  color: #000;
  font-size: 24px;
  font-weight: 900;
}

.item-product__price:after {
  font-size: 18px;
}

.search-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.search-page__select {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f3f3;
}

.search-page__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
}

.search-page__title span {
  margin: 0 13px;
  border-bottom: 1px dashed;
}

.search-page__title span:last-child {
  display: none;
}

.search-page__title:before {
  content: '';
  width: 17px;
  height: 17px;
  background: url("../img/search-icon.svg") left no-repeat;
}

.search-page__title:after {
  content: '';
  -webkit-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  width: 10px;
  height: 10px;
  background: url("../img/search-arrow.svg") right no-repeat;
}

.search-page__title._categories span {
  display: none;
}

.search-page__title._categories span:last-child {
  display: block;
}

.search-page__categorys {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.search-page__input {
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.search-page__input .input {
  height: 100%;
}

.categorys-search {
  background-color: #fff;
  border: 1px solid #fefefe;
  display: none;
}

.categorys-search.active-search {
  display: block;
}

.categorys-search:after {
  content: "";
  background-color: #f68038;
  height: 4px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.categorys-search__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categorys-search__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 27px 40px;
  border-right: 1px solid #f3f3f3;
}

.categorys-search__column:last-child {
  border: 0;
}

.categorys-search__list li {
  margin: 0px 0px 20px 0px;
}

.categorys-search__list li:last-child {
  margin: 0;
}

.categorys-search__checkbox .checkbox__input:checked + .checkbox__text {
  color: #f68038;
}

.categorys-search__checkbox .checkbox__text {
  color: #999;
}

.categorys-search__checkbox .checkbox__text::before {
  display: none;
}

.categorys-search__link {
  color: #999;
}

@media (min-width: 767.98px) {
  .top-header__column_logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-top: 25px;
  }
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    border-radius: 20px;
    background-color: #14c0d4;
  }

  .actions-header:hover {
    color: #1ab9ce;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #b86829;
  }
}

@media (max-width: 1192px) {
  .menu__list {
    grid-template-columns: 90px 110px 160px;
  }

  .menu__link {
    padding: 3px 7px;
  }

  .contacts-header__column {
    padding: 0 15px;
  }

  .contacts-header__item_icon {
    padding-left: 25px;
    background-size: 15px;
  }

  .contacts-header__phone {
    font-size: 16px;
  }

  .actions-header__login,
  .actions-header__reg,
  .actions-header__email {
    padding: 0 0 0 30px;
  }

  .info-header__callback {
    padding: 0;
    background: none;
  }

  .info-header__schedule {
    padding: 0;
    background: none;
  }

  .info-header.bag span {
    right: -10px;
  }
}

@media (max-width: 1180px) {
  .actions-header li {
    margin: 0px 30px 0px 0px;
  }

  .info-header__column {
    padding: 0px 34px 0px 0px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .info-header__column:last-child {
    padding: 0;
  }
}

@media (max-width: 991.98px) {
  .menu__body {
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 2;
    visibility: hidden;
    padding: 120px 20px 30px 20px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu__body:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 105px;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #14c0d4;
  }

  .menu__body.active {
    opacity: 1;
    visibility: visible;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0 0 20px 0;
  }

  .menu__link {
    color: #000;
    padding: 0;
    font-size: 20px;
  }

  .icon-menu {
    display: block;
    position: relative;
    top: 0;
    right: 0px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .contacts-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .contacts-header__column {
    border: none;
  }

  .contacts-header__column:last-child {
    display: none;
  }

  .actions-header__login,
  .actions-header__reg,
  .actions-header__email {
    padding: 0;
    background: none;
  }

  .info-header__column {
    padding: 0px 10px 0px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .info-header__column:last-child {
    padding: 0;
  }

  .info-header__schedule {
    display: none;
  }

  .menu-page__link:hover {
    background-color: #098494;
  }

  .submenu-page__link:hover {
    background-color: #71c7d3;
    color: #fff;
  }

  .item-product__title:hover {
    text-decoration: underline;
  }
}

@media (max-width: 991.98px) and (max-width: 767.98px) {
  .menu__body {
    padding: 90px 20px 30px 20px;
  }

  .menu__body:before {
    height: 70px;
  }
}

@media (max-width: 767.98px) {
  .header {
    background: #fff url("./../img/header/bg-header.png") 0 -20px no-repeat;
  }

  .top-header__content {
    height: 70px;
  }

  .top-header__logo {
    width: 100%;
  }

  .top-header__logo img {
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .contacts-header__column {
    padding: 0;
  }

  .contacts-header__item_icon {
    background: none;
  }

  .contacts-header__label {
    display: none;
  }

  .contacts-header__phone {
    font-size: 0;
    background: url("../img/header/phone.svg") left no-repeat;
    width: 19px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
  }

  .actions-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0;
  }
}

@media (max-width: 1216px) and (min-width: 1189px) {
  .actions-header li {
    margin: 0px 40px 0px 0px;
  }
}

.webp .header{ background: #fff url(./../img/header/bg-header.webp) top no-repeat; }

.webp .menu-page{ background: url(../img/bg-menu.webp) top no-repeat; }

.webp .menu-page__parent .menu-page__link:after{ background: url(../img/menu_arrow.webp) right no-repeat; }

@media (max-width: 767.98px){

  .webp .header{ background: #fff url(./../img/header/bg-header.webp) 0 -20px no-repeat; }
}